/** Career **/
.career-list-box {display:table;width:100%;height:100%;table-layout:fixed;}
.career-list-box li {position:relative;display:table-cell;width:25%;height:100%;background:#f8cdcd;vertical-align:middle;cursor:pointer;}
.career-list-box li.on {width:70%;}
.career-list-box.active li:not(.on) {width:10%;}
.career-list-box li:nth-child(2) {background:#ffffad;}
.career-list-box li:nth-child(3) {background:#7affad;}
.career-list-box li:nth-child(4) {background:#e0ffff;}
.career-list-box li .career-list-item {overflow:hidden;position:relative;}
.career-list-box li .career-list-item .career-item-tit-outer {position:absolute;top:50%;left:0;width:100%;height:100%;text-align:center;}
.career-list-box li .career-list-item .career-item-tit-outer .career-item-tit {-webkit-transform:rotate(0deg);transform:rotate(0deg);font-size:30px;line-height:43px;white-space:nowrap;}
.career-list-box li .career-list-item .career-item-desc {opacity:0;-webkit-transform:translateX(100%);transform:translateX(100%);float:right;width:500px;margin:100px 30px 0 0;padding:30px;background:rgba(255,255,255,.8);font-size:14px;line-height:20px;text-align:center;}
.career-list-box.active li.on .career-list-item .career-item-tit-outer {padding:0 100px;}
.career-list-box li.on .career-list-item .career-item-tit {animation:tit-move-act 1.2s ease-in-out;margin:-50px 0 0 -400px;}
.career-list-box li.on .career-list-item .career-item-desc {transition-delay:.7s;opacity:1;-webkit-transform:translateX(0%);transform:translateX(0%);}
.career-list-box li:not(.on) .career-list-item .career-item-tit,
.career-list-box.active li:not(.on) .career-list-item .career-item-tit {-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}

@keyframes tit-move-act {
  0% {-webkit-transform:translateX(0) rotate(-90deg);transform:translateX(0) rotate(-90deg);margin:0;}
  35% {-webkit-transform:translateX(-100%) rotate(-90deg);transform:translateX(-100%) rotate(-90deg);}
  40% {opacity:0;}
  60% {-webkit-transform:translate(0, -100%);transform:translate(0, -100%);opacity:0;margin:-50px 0 0 -400px;}
  100% {-webkit-transform:translate(0) rotate(0deg);transform:translate(0) rotate(0deg);opacity:1;}
}