[ir-idx="5"] {transition-delay:1.8s;}

.career-top .video-cont {position: relative;overflow:hidden;}
.career-top .video-cont:after {position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5);content:'';}
.career-top .video-cont video {vertical-align:top;}
.career-top .txt-outer {position:absolute;top:160px;left:50%;width:1120px;padding: 0 20px;transform:translateX(-50%);}
.career-top .txt-outer .tit-txt:after {display:block;content:'';clear:both;}
.career-top .txt-outer .tit-txt .tit {float:left;text-align:left;color:#fff;font-size:35px;font-weight:700;}
.career-top .txt-outer .tit-txt > p {float:right;margin-top:10px;text-align:right;color:#fff;font-size:18px;font-weight:300;}
.career-top .txt-outer .slogan {display:block;margin-top:190px;color:#fff;font-size:75px;font-weight:700;line-height:1.2;}
.career-top .txt-outer .slogan em {color:#00c7ff}
.career-top .txt-outer .txt{color:#fff;font-size:18px;font-weight:300;line-height:30px;}
.career-top .txt-outer .txt em{display:block;margin:30px 0;font-size:25px;line-height:1.2;}

.career-list-outer {width:100%;overflow:hidden;}
.career-list {position:relative;float:left;width:25%;height:775px;background:#fff;overflow:hidden;}
.career-list:nth-child(2n-1){background:#f1f2f2;}
.career-list:nth-child(1):after {right:20px;bottom:35px;width:298px;height:415px;background:url(/anchors/assets/images/content/career/img_career_list01.png) no-repeat;}
.career-list:nth-child(2):after {right:-210px;bottom:0;width:496px;height:775px;background:url(/anchors/assets/images/content/career/img_career_list02.png) no-repeat;}
.career-list:nth-child(3):after {right:-160px;bottom:0;width:487px;height:382px;background:url(/anchors/assets/images/content/career/img_career_list03.png) no-repeat;}
.career-list:nth-child(4):after {right:50px;bottom:15px;width:261px;height:414px;background:url(/anchors/assets/images/content/career/img_career_list04.png) no-repeat;}
.career-list:after {position:absolute;content:'';}
.career-list:before {position:absolute;top:0;left:0;right:0;bottom:0;padding:25px;color:#fff;font-size:17px;background:rgba(7,0,87,0.9);content:'view more';z-index:1;opacity:0;text-align:right;}
.career-list:hover:before {opacity:1;}
.career-list:hover .career-list-tit {color:#fff;transition:0s;}

.career-list .career-list-tit-outer {position:absolute;bottom:65px;left:30px;width:100px;transform:rotate(-90deg);white-space:nowrap;z-index:1;}
.career-list .career-list-tit {font-size:48px;line-height:56px;vertical-align:middle;}
.career-list .career-list-cont {position:absolute;right:-1000px;bottom:100px;width:500px;height:400px;padding:30px;background:rgba(255,255,255,0.7);opacity:0;transition-delay:0.5s;}

.career-list.on .career-list-cont {right:100px;opacity:1;}
.career-list.on {width:70%;background:#080058;}
.career-list.on .career-list-tit {animation:aniTit 1.2s ease-in-out;opacity:1;transform:rotate(90deg) translate(0,-600px) scale(1.5);transform-origin:left;color:#00c7ff;}
@keyframes aniTit {
	0% {
		transform:rotate(90deg) translate(-1500px,-600px) scale(1.5);
		transition:none;
	}
	50% {
		opacity: 0;
	}
}
.career-list.on:after {right:-1000px;}
.career-list.on:before {opacity:0;}
.career-list.off:after {right:-1000px;}
.career-list.off {width:10%;}
.career-apply .apply-txt {padding:150px 0;background:#00c7ff;}
.career-apply .apply-txt .content {padding: 0 20px;color:#fff;font-size:18px;font-weight:400;line-height:35px;}
.career-apply .apply-form .content {padding:150px 20px;}
.apply-form .form-tit {display:block;margin-bottom:32px;font-size:20px;color:#000;}
.apply-form .form-list {margin-top:60px;font-size:0;-webkit-column-count:2; -moz-column-count:2;column-count:2;-webkit-column-gap:12px;-moz-column-gap:12px;column-gap:12px;-webkit-column-width:150px;-moz-column-width:150px;column-width:150px;}
.apply-form .form-list li label {display:block;color:#000;font-size:18px;font-weight:400;}
.apply-form .form-list li .inp-text {margin:10px 0 35px;}
.apply-form .form-list .file-box .file-select {position:relative;width:100%;height:60px;margin:10px 0 35px;}
.apply-form .form-list .file-box .upload-name {width:100%;height:100%;padding:0 45px 0 18px;line-height: 60px;border:none;background:#f4f4f4 url(/anchors/assets/images/common/ico_upload.png) no-repeat right center;background-size:41px 24px;font-size:15px;}
.apply-form .form-list .file-box input[type="file"] {position:absolute;top:0;left:0;width:100%;height:100%;width:100%;height:100%;opacity:0;}