/** guide line 작업 후 삭제 **/
.detail .header-cont {border-bottom:1px solid #00c8ff;}
.detail-step-outer {border:1px solid #00c8ff;border-width:0 1px 1px;}
.detail-step-outer:last-child {border-width:0 1px;}
/** guide line 작업 후 삭제 **/

.detail .header-cont {max-width:1450px;margin:0 auto;}
.detail .header-cont .h-logo {margin-left:-25px;}

.portfolio-detail-wrap {background:url(/anchors/assets/images/content/detail/bg_detail_all.png) no-repeat center top;background-size:cover;}
.detail-step-outer {position:relative;max-width:1450px;height:1200px;margin:0 auto;padding:200px 0 110px;}
.detail-step-outer .detail-step-tit {font-size:108px;color:#080058;line-height:120px;}
.detail-step-outer .detail-step-tit strong {font-weight:800;}
.detail-step-outer .detail-step-desc {margin-top:32px;font-size:25px;color:#080058;line-height:32px;}
.detail-step-outer .btn-box {position:absolute;top:50%;right:190px;}
.detail-step-outer .btn-box a {position:relative;font-size:18px;color:#080058;line-height:27px;letter-spacing:0;}
.detail-step-outer .btn-box a:after {content:'';position:absolute;bottom:-5px;left:0;width:204px;height:14px;background:url(/anchors/assets/images/content/detail/bg_btn_arrow.png) no-repeat left bottom;}